/* This is for extending or overriding the CSS in the littlelink/css/* files */

.button {
  transition: filter 0.3s;
}

/* Website (added) */
.button.button-website {
  color: #FFFFFF;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) }
.button.button-website:hover,
.button.button-website:focus {
  filter: brightness(90%) }

/* Apple Music (added) */
.button.button-apple-music {
  color: #FFFFFF;
  background: rgb(255,59,48);
  background: linear-gradient(111deg, rgba(255,59,48,1) 13%, rgba(255,45,85,1) 97%); }
.button.button-apple-music:hover,
.button.button-apple-music:focus {
  filter: brightness(90%) }

/* Spotify (extended) */
.button.button-spotify {
  background: rgb(25,20,20);
  background: linear-gradient(43deg, rgba(25,20,20,1) 0%, rgba(29,185,84,1) 98%); }

/* YouTube (extended) */
.button.button-youtube {
  background: rgb(33,33,33);
  background: linear-gradient(158deg, rgba(33,33,33,1) 13%, rgba(255,0,0,1) 97%);
}
